
{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    
  </head>
  <body>
    

      <section class="parallax-container section-lg text-center" data-parallax-img="images/bg-home1-01-1920x1000.jpg">
        <div class="parallax-content">
          <div class="container">
            <h6 class="text-gray-600">Trident Festival in Duchonka, slovakia - June 26, 2019</h6>
            <h2>featured event</h2>
            <div class="row justify-content-center">
              <div class="col-lg-11">
                <div class="post-event">

                  
                    <div class="countdown" data-type="until" data-time="17 Aug 2019 00:00"></div><img src="{% static 'images/events-02-571x313.jpg' %}" alt="" width="571" height="156"/><a class="button button-primary button-lg" href="#">buy tickets</a>
                    </div>

              </div>
            </div>
          </div>
        </div>
      </section>

  </body>
</html>
{% endblock %}