
{% extends 'seller_header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    
  </head>
  <body>
    

      <section class="parallax-container section-lg text-center" data-parallax-img="images/bg-home1-01-1920x1000.jpg">
        <div class="parallax-content">
          <div class="container">
            <h6 class="text-gray-600">Trident Festival in Duchonka, slovakia - June 26, 2019</h6>
            <h2>featured event</h2>
            <div class="row justify-content-center">
              <div class="col-lg-11">
                <div class="post-event">
                  <div class="countdown" data-type="until" data-time="17 Aug 2019 00:00"></div><img src="{% static 'images/events-02-571x313.jpg' %}" alt="" width="571" height="156"/><a class="button button-primary button-lg" href="#">buy tickets</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h6 class="text-gray-600">latest videos from me and my colleagues</h6>
          <h2>recent videos</h2>
          <!--Bootstrap tabs-->
          <div class="tabs-custom tabs-vertical tabs-video" id="tabs-2">
            <!--Tab panes-->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-2-1">
                <div class="entry-video embed-responsive embed-responsive-16by9">
                  <iframe width="886" height="668" src="//www.youtube.com/embed/4gRjnaitguQ" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-2-2">
                <div class="entry-video embed-responsive embed-responsive-16by9">
                  <iframe width="886" height="668" src="//www.youtube.com/embed/mfMR-URQl80" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-2-3">
                <div class="entry-video embed-responsive embed-responsive-16by9">
                  <iframe width="886" height="668" src="//www.youtube.com/embed/xweHsBLcqp4" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-2-4">
                <div class="entry-video embed-responsive embed-responsive-16by9">
                  <iframe width="886" height="668" src="//www.youtube.com/embed/V3pPMUmIxAc" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="tab-pane fade" id="tabs-2-5">
                <div class="entry-video embed-responsive embed-responsive-16by9">
                  <iframe width="886" height="668" src="//www.youtube.com/embed/N1DEOCUujUg" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
            <div class="scroll-wrap">
              <!--Nav tabs-->
              <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-2-1" data-toggle="tab">
                    <div class="nav-video">
                      <figure class="nav-video-figure"><img src="{% static 'images/video-01-140x81.jpg' %}" alt="" width="140" height="40"/>
                      </figure>
                      <h6 class="nav-video-title">Armin van Buuren Live at Tomorrowland 2015</h6>
                    </div></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-2" data-toggle="tab">
                    <div class="nav-video">
                      <figure class="nav-video-figure"><img src="{% static 'images/video-02-140x81.jpg' %}" alt="" width="140" height="40"/>
                      </figure>
                      <h6 class="nav-video-title">Juicy M - Live at MEO Sudoeste Festival</h6>
                    </div></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-3" data-toggle="tab">
                    <div class="nav-video">
                      <figure class="nav-video-figure"><img src="{% static 'images/video-03-140x81.jpg' %}" alt="" width="140" height="40"/>
                      </figure>
                      <h6 class="nav-video-title">Armin van Buuren feat. Angel Taylor - Make It Right</h6>
                    </div></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-4" data-toggle="tab">
                    <div class="nav-video">
                      <figure class="nav-video-figure"><img src="{% static 'images/video-04-140x81.jpg' %}" alt="" width="140" height="40"/>
                      </figure>
                      <h6 class="nav-video-title">Armin Only crew taking over Sydney! Armin Only VLOG</h6>
                    </div></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-5" data-toggle="tab">
                    <div class="nav-video">
                      <figure class="nav-video-figure"><img src="{% static 'images/video-05-140x81.jpg' %}" alt="" width="140" height="40"/>
                      </figure>
                      <h6 class="nav-video-title">Armin Only crew taking over San Francisco!</h6>
                    </div></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="section" data-lightgallery="group">
        <div class="row no-gutters">
          <div class="col-lg-3 col-sm-6">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="images/image-original-01-1200x800.jpg"><img src="{% static 'images/home1-05-480x350.jpg' %}" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">Dream Village</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="images/image-original-02-1200x800.jpg"><img src="{%static 'images/home1-06-480x350.jpg'%}" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">ULTRA MUSIC FESTIVAL</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="images/image-original-03-1200x800.jpg"><img src="{%static 'images/home1-07-480x350.jpg'%}" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">electric Zoo</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="images/image-original-04-1200x800.jpg"><img src="{%static 'images/home1-08-480x350.jpg'%}" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">life in color festival</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-xl bg-default text-center">
        <div class="container">
          <h6 class="text-gray-600">from my blog</h6>
          <h2>latest news</h2>
          <div class="row row-125">
            <div class="col-md-6 col-lg-4">
              <article class="post-classic">
                <figure class="post-classic-figure"><a href="#"><img src="{%static 'images/post-classic-01-346x260.jpg'%}" alt="" width="346" height="130"/></a></figure>
                <div class="post-classic-content">
                  <time class="post-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
                  <h5 class="post-classic-title"><a href="#">teasing the demo of my new track ‘I need you’</a></h5><a class="post-classic-link" href="#">read more</a>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <article class="post-classic">
                <figure class="post-classic-figure"><a href="#"><img src="{% static 'images/post-classic-02-346x260.jpg' %}" alt="" width="346" height="130"/></a></figure>
                <div class="post-classic-content">
                  <time class="post-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
                  <h5 class="post-classic-title"><a href="#">Bring your favorite artist to your city!</a></h5><a class="post-classic-link" href="#">read more</a>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <article class="post-classic">
                <figure class="post-classic-figure"><a href="#"><img src="{%static 'images/post-classic-03-346x260.jpg'%}" alt="" width="346" height="130"/></a></figure>
                <div class="post-classic-content">
                  <time class="post-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
                  <h5 class="post-classic-title"><a href="#">New single: ‘rave on’ (raverz 2019 anthem)</a></h5><a class="post-classic-link" href="#">read more</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Banner 2--><a class="section section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="blank" style="background-image: url(images/banner/background-01-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/background-01-1920x310.jpg) 1x, url(images/banner/background-01-3840x620.jpg) 2x )"><img src="{% static 'images/banner/foreground-01-1600x310.png" srcset="images/banner/foreground-01-1600x310.png 1x, images/banner/foreground-01-3200x620.png 2x" alt="" width="1600" height="310"></a>
      <section class="parallax-container parallax-overlay-01" data-parallax-img="images/bg-footer-1920x1285.jpg">
        <div class="parallax-content">
          <div class="section-sm prefooter-custom">
            <div class="container">
              <div class="row row-30">
                
                <div class="col-lg-12">
                  <h3>tour dates</h3>
                  <div class="box-event-wrap scroll-wrap">
                          <div class="box-event novi-bg">
                            <div class="box-event-date-wrap">
                              <h3 class="box-event-date-day">25</h3>
                              <p class="box-event-date-month">feb</p>
                            </div>
                            <div class="box-event-text-wrap">
                              <h5 class="box-event-text-title"><a href="#">ULTRA MUSIC FESTIVAL</a></h5>
                              <ul class="box-event-text-location">
                                <li>Miami</li>
                                <li>USA</li>
                              </ul>
                            </div>
                            <div class="box-event-button-wrap"><a class="button button-outline button-sm" href="#">buy tickets</a></div>
                          </div>
                          <div class="box-event novi-bg">
                            <div class="box-event-date-wrap">
                              <h3 class="box-event-date-day">12</h3>
                              <p class="box-event-date-month">mar</p>
                            </div>
                            <div class="box-event-text-wrap">
                              <h5 class="box-event-text-title"><a href="#">edc orlando</a></h5>
                              <ul class="box-event-text-location">
                                <li>Tinkler Field</li>
                                <li>Orlando</li>
                                <li>USA</li>
                              </ul>
                            </div>
                            <div class="box-event-button-wrap"><a class="button button-outline button-sm" href="#">buy tickets</a></div>
                          </div>
                          <div class="box-event novi-bg">
                            <div class="box-event-date-wrap">
                              <h3 class="box-event-date-day">24</h3>
                              <p class="box-event-date-month">apr</p>
                            </div>
                            <div class="box-event-text-wrap">
                              <h5 class="box-event-text-title"><a href="#">Electric zoo</a></h5>
                              <ul class="box-event-text-location">
                                <li>Randall’s Island Park</li>
                                <li>New York</li>
                                <li>USA</li>
                              </ul>
                            </div>
                            <div class="box-event-button-wrap"><a class="button button-outline button-sm" href="#">buy tickets</a></div>
                          </div>
                          <div class="box-event novi-bg">
                            <div class="box-event-date-wrap">
                              <h3 class="box-event-date-day">17</h3>
                              <p class="box-event-date-month">jul</p>
                            </div>
                            <div class="box-event-text-wrap">
                              <h5 class="box-event-text-title"><a href="#">Nocturnal Wonderland</a></h5>
                              <ul class="box-event-text-location">
                                <li>Glen Helen National Park</li>
                                <li>USA</li>
                              </ul>
                            </div>
                            <div class="box-event-button-wrap"><a class="button button-outline button-sm" href="#">buy tickets</a></div>
                          </div>
                          <div class="box-event novi-bg">
                            <div class="box-event-date-wrap">
                              <h3 class="box-event-date-day">18</h3>
                              <p class="box-event-date-month">aug</p>
                            </div>
                            <div class="box-event-text-wrap">
                              <h5 class="box-event-text-title"><a href="#">Coachella</a></h5>
                              <ul class="box-event-text-location">
                                <li>Empire Polo Club</li>
                                <li>Indio</li>
                                <li>USA</li>
                              </ul>
                            </div>
                            <div class="box-event-button-wrap"><a class="button button-outline button-sm" href="#">buy tickets</a></div>
                          </div>
                          <div class="box-event novi-bg">
                            <div class="box-event-date-wrap">
                              <h3 class="box-event-date-day">12</h3>
                              <p class="box-event-date-month">OCT</p>
                            </div>
                            <div class="box-event-text-wrap">
                              <h5 class="box-event-text-title"><a href="#">Let It Roll</a></h5>
                              <ul class="box-event-text-location">
                                <li>Milovice</li>
                                <li>Czech Republic</li>
                              </ul>
                            </div>
                            <div class="box-event-button-wrap"><a class="button button-outline button-sm" href="#">buy tickets</a></div>
                          </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
  </body>
</html>
{% endblock %}